<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.basic.cuttingpart.dao.CuttingPartDao">

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.basic.cuttingpart.domain.vo.CuttingPartVO">
        SELECT part_id, part_name, part_code, remark, create_time, update_time
        FROM t_cutting_part
        <where>
            deleted_flag = 0
            <if test="queryForm.searchWord != null and queryForm.searchWord != ''">
                AND (INSTR(part_name, #{queryForm.searchWord}) OR INSTR(remark, #{queryForm.searchWord}))
            </if>
        </where>
        ORDER BY part_id DESC
    </select>

</mapper>
