<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.basic.garment.dao.GarmentDao">

    <select id="queryAll" resultType="net.lab1024.sa.admin.module.business.basic.garment.domain.vo.GarmentVO">
        SELECT g.garment_id, g.garment_no, g.garment_name, g.garment_type,
               g.unit_id, g.unit_name, g.disabled_flag, g.remark, g.create_time
        FROM t_garment g
        WHERE g.deleted_flag = 0
        ORDER BY g.garment_id DESC
    </select>

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.basic.garment.domain.vo.GarmentVO">
        SELECT g.garment_id, g.garment_no, g.garment_name, g.garment_type,
               g.unit_id, g.unit_name, g.disabled_flag, g.remark, g.create_time
        FROM t_garment g
        <where>
            g.deleted_flag = 0
            <if test="queryForm.searchWord != null and queryForm.searchWord != ''">
                AND (INSTR(g.garment_no, #{queryForm.searchWord}) OR INSTR(g.garment_name, #{queryForm.searchWord}))
            </if>
            <if test="queryForm.disabledFlag != null">
                AND g.disabled_flag = #{queryForm.disabledFlag}
            </if>
        </where>
        ORDER BY g.garment_id DESC
    </select>

</mapper>
